body{
	 height: 100%; 
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url("2.png");
}
body {font-family: Arial, Helvetica, sans-serif, Art Deco;}
* {box-sizing: border-box}

/* Full-width input fields */
input[type=text], input[type=number], textarea[type=text], input[type=password] {
    width: 20%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=number]:focus {
    background-color: #ddd;
    outline: none;
}
label{
	color:#99e6ff;
}


hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}

/* Float cancel and signup buttons and add an equal width */
 .submitbtn {
  float: left;
  width: 10%;
}


.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Add padding to container elements */
.container {
    padding-top: 50px;
    padding-left: 80px;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
h1 {
    color:#ffb366;
    font-family:"Calligraphy";
    font-size: 250%;

}
p{
color:red;
font-size: 20px;
}


