body{
	height: 100%; 
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
input[type=text], input[type=number], textarea[type=text], input[type=password] {
    width: 20%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
input[type=text]:focus, input[type=number]:focus {
    background-color: #ddd;
    outline: none;
}
header {
padding-top:10%;
    opacity:0.5;
    padding:0.0045em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
	
}
h1 {
font-size:50;
padding-bottom:4%;
color:black;
    //color:#ffb366;
    font-family:"Calligraphy";
    //font-size: 250%;


}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}

/* Float cancel and signup buttons and add an equal width */
 .submitbtn {
  float: left;
  width: 10%;
}


.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Add padding to container elements */
.container {
    padding-top: 50px;
    padding-left: 80px;
    padding-right:80px;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}